<div class="container col-xl-7 col-lg-8 col-md-10 col-12">
    <div class="row">
        <div class="col-12">
            <h3 class="text-center display-7 mt-3">Laos-Ice<i class="fas fa-leaf" id="ice-color"></i></h3>
            <h5 class="display-7 text-center langlao mt-3">ບິນທີ່ຈະຊຳລະ</h5>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-12">
            <div class="col-12">
                <form method="POST " action="">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th class="langlao ct" >ລະຫັດ</th>
                                <th class="langlao ct" >ຊົ່ວໂມງເຮັດວຽກ</th>
                                <th class="langlao ct" >ປະລິມານ</th>
                                <th class="langlao ct" >ຕົວຄູນ</th>
                                <th colspan="4" class="langlao ct" >ຈຳນວນເງິນ</th>                                                            
                            </tr>
                        </thead>
                        <tbody>
                            <tr>                                
                                <th>010518</th>
                                <td>10</td>
                                <td>10</td>
                                <td>2000</td>
                                <td colspan="4">...........</td>                               
                            </tr>
                            <tr>                                                                                           
                                <th>010518</th>                                
                                <td>12</td>
                                <td>2000</td>
                                <td>2000</td>
                                <td colspan="4">...........</td>                               
                            </tr>
                            <tr>                                                                                           
                                <th>010518</th>                                
                                <td>18</td>
                                <td>2000</td>
                                <td>2000</td>
                                <td colspan="4">...........</td>                               
                            </tr>
                            <tr>                                                                                           
                                <th>010518</th>                                
                                <td>20</td>
                                <td>2000</td>
                                <td>2000</td>
                                <td colspan="4">...........</td>                               
                            </tr>
                            <tr>
                                <td class="langlao">ເພີ່ມ</td>
                                <th colspan="2" id="remove-border2"></th>                                 
                                <td class="langlao" id="free-space">ລວມ</td>
                                <td colspan="1">000.000 kip</td>                                
                            </tr>
                            <tr>
                                <th colspan="3" id="remove-border"></th>                                 
                                <td class="langlao" id="free-space">ລວມ+ສ່ວນຫລຸດ</td>
                                <td colspan="1">000.000 kip</td>                                
                            </tr>
                        </tbody>
                    </table>
                </form>
                <button class="col-6 btn d-block mx-auto btn-primary langlao mt-3 mb-3" [routerLink]="['/bill']">ຮັບເງິນ + ພິມ</button>
            </div>
        </div> 
    </div>
</div>
