<h1 class="text-center mt-5">Device-list</h1>
<div class="container mt-5">
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <div class="col-12">
            <div class="input-group">
                <input type="text" class="form-control custom-formcontrol" placeholder="Search" name="search">
                <button class="btn-search" type="submit"><i class="fas fa-search"></i></button>
            </div>
        </div>
    </div>
    <div class="col-md-4">
      <button class="btn btn-primary text-uppercase">Add users</button>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 offset-md-3 mt-5">
      <table class="table table-bordered table-responsive">
        <thead>
          <tr>
            <th class="langlao" scope="col">ຊື່ຕູ້ນ້ຳກ້ອນ</th>
            <th class="langlao" scope="col">ເລກ IMEI</th>
            <th class="langlao" scope="col">ຊື່ຜູ້ໃຊ້</th>
            <th class="langlao" scope="col">ເບີໂທລະສັບ</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th class="langlao" scope="row">ຕູ້ນ້ຳກ້ອນ A</th>
            <td>201597410398</td>
            <td>User B</td>
            <td class="phone-number">+86620 99999999</td>
          <tr>
            <th class="langlao" scope="row">ຕູ້ນ້ຳກ້ອນ A</th>
            <td>201597410398</td>
            <td>User B</td>
            <td>+86620 99999999</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>