<div class="container card" style="background: whitesmoke;">
  <h1 class="text-center mt-5 langlao">
    <div class="">
      <img class="resize-logo" src="../../assets/photo/Logo_replace_three.png" alt="">
    </div> <br>
    <u>ລາຍຊື່ຂໍ້ມູນເຄື່ອງທັງໝົດ</u>
  </h1>
  <div class="mt-3">
    <div class="row">
      <div class="col-md-8 offset-md-2 col-12">
        <div class="col-12">
          <div class="input-group">
            <input type="text" class="form-control custom-formcontrol" placeholder="Search" name="search">
            <button class="btn-search" type="submit">
              <i class="fas fa-search"></i>
            </button>
          </div>
        </div>
        <button class="btn btn-primary d-block mx-auto mt-3 d-width" (click)="openVerticallyCentered(content)">
          <i class="far fa-plus-square"></i> <br> Add Devices</button>
      </div>
      
      <div class="col-md-4">
        <div class="add-new-devices">
          <ng-template #content let-c="close" let-d="dismiss" id="">
            <div class="modal-header">
              <h4 class="modal-title langlao">ເພີ່ມ Devices</h4>
              <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="">
                <div class="row pb-2">
                  <div class="col-12">
                    <img src="../../assets/photo/default-user.png" class="img-fluid rounded-circle mx-auto d-block">
                  </div>
                </div>
                <div class="d-block justify-content-center">
                  <label class="col-md-3 col-xs-3 btn-form-users btn-primary-form-users d-block mx-auto mt-3"> Select photo
                    <input type="file" placeholder="file" hidden required>
                  </label>
                </div>
                <section id="form-add-users">
                  <div class="row col-md-10 offset-md-1 font-color-form-users">
                    <div class="group-control col-md-6 col-12 mt-4">
                      <label class="langlao mg-name" for="">ຊື່ຕູ້ນ້ຳກ້ອນ *</label>
                      <input class="form-control" type="text">
                    </div>
                    <div class="group-control col-md-6 col-12 mt-4">
                      <label class="langlao mg-name" for="">ເລກ IMEI *</label>
                      <input class="form-control" type="text">
                    </div>
                    <div class="group-control col-md-6 col-12 mt-4">
                      <label class="langlao mg-name" for="">ຊື່ຜູ້ໃຊ້ *</label>
                      <input class="form-control" type="text">
                    </div>
                    <div class="group-control col-md-6 col-12 mt-4">
                      <label class="langlao mg-name" for="">ເບີໂທລະສັບ *</label>
                      <input class="form-control" type="text">
                    </div>
                    <div class="group-control col-12 mt-4">
                      <label class="langlao mg-name" for="">ໝາຍເຫດ *</label>
                      <input class="form-control" type="text">
                    </div>
                    <div class="group-control col-12 mt-4 d-flex justify-content-center">
                      <button class="col-md-4 mg-btn col-6 btn btn-primary-form-users langlao" type="submit">ເພີ່ມຜູ້ໃຊ້</button>
                      <button class="col-md-4 mg-btn col-6 btn btn-danger-form-users langlao" type="reset">ຍົກເລີກ</button>
                    </div>
                  </div>
                </section>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-light" (click)="c('Close click')">Close</button>
            </div>
          </ng-template>          
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-10 offset-md-1 mt-3">
        <table class="table table-bordered table-striped table-responsive">
          <thead class="thead-dark">
            <tr>
              <th class="langlao" scope="col">ຊື່ຕູ້ນ້ຳກ້ອນ</th>
              <th class="langlao" scope="col">ເລກ IMEI</th>
              <th class="langlao" scope="col">ຊື່ຜູ້ໃຊ້</th>
              <th class="langlao" scope="col">ເບີໂທລະສັບ</th>
            </tr>
          </thead>
          <tbody>
            <tr class="bg-list" (click)="Show_update_details(Alert_update_details)">
              <th class="langlao" scope="row">ຕູ້ນ້ຳກ້ອນ A</th>
              <td>201597410398</td>
              <td>User B</td>
              <td>+86620 99999999</td>
              <tr class="bg-list" (click)="Show_update_details(Alert_update_details)">
                <th class="langlao" scope="row">ຕູ້ນ້ຳກ້ອນ A</th>
                <td>201597410398</td>
                <td>User B</td>
                <td>+86620 99999999</td>
              </tr>
              <tr class="bg-list" (click)="Show_update_details(Alert_update_details)">
                <th class="langlao" scope="row">ຕູ້ນ້ຳກ້ອນ A</th>
                <td>201597410398</td>
                <td>User B</td>
                <td class="phone-number">+86620 99999999</td>
                <tr class="bg-list" (click)="Show_update_details(Alert_update_details)">
                  <th class="langlao" scope="row">ຕູ້ນ້ຳກ້ອນ A</th>
                  <td>201597410398</td>
                  <td>User B</td>
                  <td>+86620 99999999</td>
                </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>


  <div class="user-list">
    <app-user-list></app-user-list>
  </div>

  <div class="info">
    <ng-template #Alert_update_details let-c="close" let-d="dismiss" id="">
      <div class="modal-header">
        <h4 class="modal-title langlao">ແກ້ໄຂຂໍ້ມູນ</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="">
          <div class="row pb-2">
            <div class="col-12">
              <img src="../../assets/photo/default-user.png" class="img-fluid rounded-circle mx-auto d-block">
            </div>
          </div>
          <div class="d-block justify-content-center">
            <label class="col-md-3 col-xs-3 btn-form-users btn-primary-form-users d-block mx-auto mt-3"> Select photo
              <input type="file" placeholder="file" hidden required>
            </label>
          </div>
          <section id="form-add-users">
            <div class="row col-md-10 offset-md-1 font-color-form-users">
              <div class="group-control col-md-6 col-12 mt-4">
                <label class="langlao mg-name" for="">ຊື່ຕູ້ນ້ຳກ້ອນ *</label>
                <input class="form-control" type="text">
              </div>
              <div class="group-control col-md-6 col-12 mt-4">
                <label class="langlao mg-name" for="">ເລກ IMEI *</label>
                <input class="form-control" type="text">
              </div>
              <div class="group-control col-md-6 col-12 mt-4">
                <label class="langlao mg-name" for="">ຊື່ຜູ້ໃຊ້ *</label>
                <input class="form-control" type="text">
              </div>
              <div class="group-control col-md-6 col-12 mt-4">
                <label class="langlao mg-name" for="">ເບີໂທລະສັບ *</label>
                <input class="form-control" type="text">
              </div>
              <div class="group-control col-12 mt-4">
                <label class="langlao mg-name" for="">ໝາຍເຫດ *</label>
                <input class="form-control" type="text">
              </div>
              <div class="group-control col-12 mt-4 d-flex justify-content-center">
                <button class="col-md-4 mg-btn col-6 btn btn-primary-form-users langlao" type="submit">ອັບເດດ</button>
                <button class="col-md-4 mg-btn col-6 btn btn-danger-form-users langlao" type="reset" (click)="c('Close click')">ຍົກເລີກ</button>
              </div>
            </div>
          </section>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-light" (click)="c('Close click')">Close</button>
      </div>
    </ng-template>
    <!-- <button class="btn btn-outline-success mb-2 mr-2" (click)="Show_update_details(Alert_update_details)"><i class="fas fa-plus-circle mr-1"></i>info</button>   -->
  </div>
</div>