<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <div class="container">
        <a class="navbar-brand" href="#">
            <img class="ice-icon-header" src="../../assets/photo/ice-2.png" alt=""> Ice-App</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="ml-auto navbar-nav head-right-fonts">
                <li class="dropdown navbar-item" id="dropdownlogin" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <a class="nav-link text-center change-head-right-color">
                        <i class="fas fa-users"></i><br>Users
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdownlogin">
                        <button class="dropdown-item" type="button" [routerLink]="['/login']">
                            <i class="fas fa-user"></i> Sign In</button>
                        <hr>
                        <button class="dropdown-item" type="button" (click) ="logout()">
                            <i class="fas fa-level-down-alt"></i> Logout</button>
                        <hr>
                        <button class="dropdown-item" type="button" [routerLink]="['/device-list']">
                            <i class="far fa-address-book"></i> Device management</button>
                            <hr>
                        <button class="dropdown-item" type="button" [routerLink]="['/user-list']">
                            <i class="far fa-address-book"></i> User management</button>
                        <hr>
                        <button class="dropdown-item" type="button" [routerLink]="['/mix-chart']">
                            <i class="far fa-address-book"></i> Production</button>
                        </div>
                </li>
            </ul>
        </div>
    </div>
</nav>
