
.bg-light {
  background: #11cc00 !important;
}
.ice-icon-header {
  width: 30px;
  height: 30px;
}
.dropdown-item {
  cursor: pointer;
}
.change-head-right-color:hover{
  color:rgb(253, 252, 252) !important;
  transition: 0.7s !important;
  border-color: black;
}

/* ........................///............ */


