<div class="bg-footermt-4 bg-footer">
    <hr class="mt-5">
    <div class="container mt-5">
        <div class="footer-social">
            <p class="text-center">
                <a class="main-icon-color" href="#" id="social"><i class="text-center fab fa-facebook-square"></i></a>
                <a class="main-icon-color" href="#" id="social"><i class="text-center fab fa-line"></i></a>
                <a class="main-icon-color" href="#" id="social"><i class="text-center fab fa-weixin"></i></a>
                <a class="main-icon-color" href="#" id="social"><i class="text-center fab fa-whatsapp"></i></a>
                <a class="main-icon-color" href="#" id="social"><i class="text-center fab fa-instagram"></i></a>
                <a class="main-icon-color" href="#" id="social"><i class="text-center fab fa-twitter"></i></a>
                <a class="main-icon-color" href="#" id="social"><i class="text-center fab fa-google-plus-square"></i></a>
            </p>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-6 col-12 d-flex justify-content-around">
                <div class="list-footer">
                    <h6><b>Get to know us</b></h6>
                    <ul class="list-inline">
                        <li><a href="">About WebIceLao.com</a></li>
                        <li><a href="">Coporate</a></li>
                        <li><a href="">About WebIceLao.com</a></li>
                        <li><a href="">Suppliers</a></li>
                        <li><a href="">Sell on Webpost</a></li>
                        <li><a href="">Careers</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-12 d-flex justify-content-around">
                <div class="list-footer">
                    <h6><b>Get to know us</b></h6>
                    <ul class="list-inline">
                        <li><a href="">About WebIceLao.com</a></li>
                        <li><a href="">Coporate</a></li>
                        <li><a href="">About WebIceLao.com</a></li>
                        <li><a href="">Suppliers</a></li>
                        <li><a href="">Sell on Webpost</a></li>
                        <li><a href="">Careers</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-12 d-flex justify-content-around">
                <div class="list-footer">
                    <h6><b>Get to know us</b></h6>
                    <ul class="list-inline">
                        <li><a href="">About WebIceLao.com</a></li>
                        <li><a href="">Coporate</a></li>
                        <li><a href="">About WebIceLao.com</a></li>
                        <li><a href="">Suppliers</a></li>
                        <li><a href="">Sell on Webpost</a></li>
                        <li><a href="">Careers</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>