<div class="bg-footermt-4 bg-footer pb-5">
    <hr class="mt-5">
    <div class="container mt-5">
        <div class="footer-social">
            <hr class="col-6 border-size">
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-6 col-12 d-flex justify-content-around">
                <div class="list-footer">
                    <h6><b class="langlao main-font-color"><u>ກ່ຽວກັບພວກເຮົາ</u></b></h6>
                    <ul class="list-inline">
                        <li><a class="font-link">IceLao</a></li>
                        <li><a class="langlao font-link">ຕິດຕໍ່ໂທ: 020.......</a></li>
                        <li><a class="langlao font-link">ຕິດຕໍ່ໂທ: 020.......</a></li>
                        <li><a class="langlao font-link">ຕິດຕໍ່ໂທ: 020.......</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-12 d-flex justify-content-around">
                <div class="list-footer">
                    <h6 class="text-center2"><b class="langlao main-font-color "><u>ແຜນທີ່</u></b></h6>
                    <div>
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3795.292320652915!2d102.61340175092164!3d17.965131887674644!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3124688755ea7187%3A0x90a4a6d0d2e839ee!2sM09+Talatsao+M-Point+Mart!5e0!3m2!1sen!2sla!4v1526093951283" width="100%" height="auto" frameborder="0" style="border:0" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-12 d-flex justify-content-around">
                <div class="list-footer">
                    <h6><b class="langlao main-font-color text-center"><u>ຕິດຕາມພວກເຮົາໃດ້ທີ່</u></b></h6>
                    <ul class="list-inline">
                        <li><a class="main-icon-color" href="#" id="social"><i class="text-center fab fa-facebook-square"></i> facebook</a></li>
                        <li><a class="main-icon-color" href="#" id="social"><i class="text-center fab fa-line"></i> Line</a></li>
                        <li><a class="main-icon-color" href="#" id="social"><i class="text-center fab fa-weixin"></i> Wechat</a></li>
                        <li><a class="main-icon-color" href="#" id="social"><i class="text-center fab fa-whatsapp"></i> Whatsapp</a></li>
                        <li><a class="main-icon-color" href="#" id="social"><i class="text-center fab fa-instagram"></i> Instagram</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>