body {
    background-color: linear-gradient(to right, rgb(165, 4, 138), rgb(238, 7, 238)) !important;
}

.bg-footer {
    background: linear-gradient(to right, rgba(233, 226, 232, 0.027), rgba(243, 212, 243, 0.233)) !important;
    color: whitesmoke !important;
}

.list-footer li a {
    text-decoration: none;
    line-height: 30px;
}

#social {
    margin-left: 30px;
    font-size: 24pt;
}

#social:hover {
    font-size: 26pt;
    transition: 0.5s;
}