.bg-footer {
  background: #33e023e0 !important;
  color: #fafafa !important;
}

.list-footer li a {
  text-decoration: none;
  line-height: 30px;
}

.font-link {
  line-height: 40px !important;
}

#social {
  line-height: 40px;
  margin-left: 30px;
  font-size: 14pt;
}

#social:hover {
  font-size: 16pt;
  transition: 0.5s;
}
.img-footer {
  width: 200px;
  height: 200px;
}
.border-size {
  height: 15px;
  background: #11cc00;
  border: none !important;
  margin-bottom: 30px;
}
#social {
  color: #fafafa !important;
}

#social:hover {
  color: #455a64 !important;
  transition: 0.5s;
}

.text-center2 {
  text-align: center !important;
}
