<div class="container border-color bg-gray-color card mt-5">
  <div class="border-color">
    <div class="col-xl-6 offset-xl-3 col-lg-6 offset-lg-3 col-md-8 offset-md-2 col-sm-12 border-register">
      <h3 class="text-center display-7">Pay Cheap <i class="fas fa-leaf" id="color-icon"></i></h3>
        <h5 class="text-center langlao">ເຂົ້າໃຊ້ບັນຊີຂອງທ່ານ</h5>
          <form action="#">
            <label class="ml-4 langlao" for="">ກະລຸນາປ້ອນຊື່ *</label>
            <input class="form-control" type="text"  placeholder="Your name">

            <label class="ml-4 mt-3 langlao" for="">ລະຫັດຜ່ານ *</label>
            <input class="form-control" type="password" placeholder="password"required>
          
            <span class="input-group mt-3">
                <input type="checkbox" style="height:40px; width:60px;"> <i class="smoke-font-color mt-2 mb-4">Keep me signed in</i>
            </span>
            <button type="submit" class="btn bg-main-color langlao" style="width:100%" [routerLink]="['/index']">ເຂົ້າສູ່ລະບົບ</button>
          </form>
    </div>
  </div>
</div>