.row {
    margin-left: 0px !important;
    margin-right: 0px !important;
}
.card{
    background: rgb(223, 221, 221) !important;
}
.twoone{
    border:1px solid yellowgreen !important;
    padding:40px;
    background: rgb(223, 221, 221)  !important;
}
.menu-image1 {
    height: 120px;
    width: 120px;
    background-color: yellowgreen;
}

#border-icon-content {
    border: 10px solid;
    border-color: #ececec;
}

.menu-image1:hover {
    height: 130px;
    width: 130px;
    background-color: rgb(158, 231, 11);
    /* float: center; */
    transition: 0.5s;
}

.Circle-home {
    font-size: 46pt;
    color: white;
}

#ice-color{
    color:green;
}


/* ....................mobile......................... */

.row {
    margin-left: 0px !important;
    margin-right: 0px !important;
}
.card{
    background: rgb(223, 221, 221) !important;
}
.twoone-mb{
    border:1px solid yellowgreen !important;
    padding:20px;
    background: rgb(223, 221, 221)  !important;
}
.menu-image1-mb {
    height: 60px;
    width: 60px;
    background-color: yellowgreen;
}

#border-icon-content-mb {
    border: 5px solid;
    border-color: #ececec;
}

.menu-image1-mb:hover {
    height: 70px;
    width: 70px;
    background-color: rgb(158, 231, 11);
    /* float: center; */
    transition: 0.5s;
}

.Circle-home-mb {
    font-size: 23pt;
    color: white;
}
