<div class="container twoone justify-content-center mt-5 text-center d-none d-sm-block">
    <div class="twoone">
        <h3 class="text-center display-7 mt-3">Laos-Ice<i class="fas fa-leaf" id="ice-color"></i></h3>
        <h5 class="display-7 text-center langlao mt-3">ຍິນດີຕ້ອນຮັບເຂົ້າສູ່ Ice-App</h5>
        <div class="row d-flex justify-content-center mb-5">
            <div class="col-xl-10 col-12 mt-5">
                <a [routerLink]="['/login']">
                    <div id="border-icon-content" class="menu-image1 rounded-circle m-auto">
                        <span class="text-center align-self-center Circle-home"><i class="fas fa-user"></i></span>
                    </div>
                    <p class="text-center langlao">ເຂົ້າສູ່ລະບົບ</p>
                </a>
            </div>
        </div>
    </div>
</div>

<div class="container twoone-mb d-flex justify-content-center mt-5 text-center d-block d-sm-none">
        <div class="twoone-mb">
            <h3 class="text-center display-7 mt-3">Laos-Ice<i class="fas fa-leaf" id="ice-color"></i></h3>
            <h5 class="display-7 text-center langlao mt-3">ຍິນດີຕ້ອນຮັບເຂົ້າສູ່ Ice-App</h5>
            <div class="row d-flex justify-content-center mb-5">
                <div class="col-xl-10 col-12 mt-5">
                    <a [routerLink]="['/index']">
                        <div id="border-icon-content-mb" class="menu-image1-mb rounded-circle m-auto">
                            <span class="text-center align-self-center Circle-home-mb"><i class="fas fa-user"></i></span>
                        </div>
                        <p class="text-center langlao">ເຂົ້າສູ່ລະບົບ</p>
                    </a>
                </div>
            </div>
            <h1>Hey you!</h1>
        </div>
    </div>