.scrolling-wrapper {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}

.scrolling-wrapper .card {
    display: inline-block;
}

.scrolling-wrapper-flexbox {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
}

.scrolling-wrapper-flexbox .card {
    flex: 0 0 auto;
    margin-right: 3px;
}

.card {
    border:none;
    background: none;
    padding: 10px;
    margin-bottom: 20px !important;
    margin-left:20px;
}
.card:hover{
    background:rgba(0, 188, 212, 0.1);
    width: 190px;
    height: 180px;
    transition: 0.8s;
    border:2px double #1df30a;
    box-shadow: 0 0 0 0.2rem #19a0fac9;
}

.scrolling-wrapper,
.scrolling-wrapper-flexbox {
    width: 100%;
    -webkit-overflow-scrolling: touch;
}

.scrolling-wrapper::-webkit-scrollbar,
.scrolling-wrapper-flexbox::-webkit-scrollbar {cursor: pointer;}

.color-head-transfer {
    font-size: 12pt;
    color: red;
    line-height: 10px;
}

.color-content-transfer {
    font-size: 12pt;
    color: black;
    line-height: 10px;
}
.list-group{
    font-size: 11pt !important;
    line-height: 0px !important;
    padding: none !important;
}
.list-group-item{
    padding: none !important;
}


.cursor-production-details{
    cursor: pointer;
}

.size-icon-device-select{
    height: 20px;
    width: 25px;
    border-radius: 100%;
    font-size: 10pt;
    color:black;
    background: white;
    padding: 4px;
}
.size-icon-device-select-imei{
    height: 20px;
    width: 25px;
    border-radius: 100%;
    font-size: 10pt;
    color:white;
    background: #fa8a2e;
    padding: 4px;
}
.size-icon-device-select-watting{
    height: 20px;
    width: 25px;
    border-radius: 100%;
    font-size: 10pt;
    color:white;
    background: #202020;
    padding: 4px;
}
.size-icon-device-select-phone{
    height: 20px;
    width: 25px;
    border-radius: 100%;
    font-size: 10pt;
    color:white;
    background: #55cb1f;
    padding: 4px;
}
.size-icon-device-select-play{
    height: 20px;
    width: 25px;
    border-radius: 100%;
    font-size: 10pt;
    color:white;
    background: #007bff;
    padding: 4px;
}
.size-icon-device-select-stop{
    height: 20px;
    width: 25px;
    border-radius: 100%;
    font-size: 10pt;
    color:white;
    background: red;
    padding: 4px;
}