<div>
    <div class="scrolling-wrapper">
        <div class="card cursor-production-details" [ngClass]="{'select-decvice':getSelectedDevice(d)}" *ngFor="let d of _currentDevice"
            (click)="selectDevice(d)">
            <div class="select-device-list">
                <ul class="list-group">
                    <img [src]="d.photo[0]?d.photo[0]:''">
                    <li class="text-center list-group-item list-group-item-success text-uppercase langlao pd-name">
                        {{d.name}}</li>
                    <li class="list-group-item list-group-item-success text-uppercase">
                        <i class="fas fa-barcode size-name mr-1"></i>: {{d.imei}}</li>
                    <li class="list-group-item list-group-item-success text-uppercase">
                        <i class="fas fa-mobile-alt size-phone mr-1"></i>: {{d.phonenumber}}</li>
                    <li class="list-group-item list-group-item-success text-uppercase">
                        <img src="../../assets/photo/signal-icon-white.png" alt="" class="size-sleep mr-1">
                        <img [src]="getDeviceStatus(d.imei)" alt="" class="size-sleep mr-1">:{{getLocalLastReport(d.imei).lastreport?(isToday(getLocalLastReport(d.imei).lastreport.gpstime)?(getLocalLastReport(d.imei).lastreport.gpstime
                        | date:'HH:mm:ss'): (getLocalLastReport(d.imei).lastreport.gpstime | date:'yyyy-MM-dd HH:mm:ss')):'NO DATA'}}
                    </li>
                    <li class="list-group-item list-group-item-success text-uppercase">
                        <i class="far fa-clock size-snow-time-working mr-1"></i>
                        <i class="far fa-snowflake size-snow-time-working mr-1"></i>: {{getLocalLastReport(d.imei).firstrun?(isToday(getLocalLastReport(d.imei).firstrun.gpstime)?(getLocalLastReport(d.imei).firstrun.gpstime
                            | date:'HH:mm:ss'): (getLocalLastReport(d.imei).firstrun.gpstime | date:'yyyy-MM-dd HH:mm:ss')) :'NO DATA'}}
                    </li>
                    <li class="list-group-item list-group-item-success text-uppercase">
                        <i>
                            <img src="../../assets/photo/clock-icon-white.png" alt="" class="size-snow-time-sleeping mr-1">
                        </i>
                        <i>
                            <img src="../../assets/photo/sleep-icon-white.png" alt="" class="size-snow-time-sleeping mr-1">
                        </i>: {{getLocalLastReport(d.imei).firstpark?(isToday(getLocalLastReport(d.imei).firstpark.gpstime)?(getLocalLastReport(d.imei).firstpark.gpstime
                            | date:'HH:mm:ss'): (getLocalLastReport(d.imei).firstpark.gpstime | date:'yyyy-MM-dd HH:mm:ss')):'NO DATA'}}
                    </li>
                    <li class="list-group-item list-group-item-success text-uppercase">
                        <i>
                            <img src="../../assets/photo/sum-icon-white.png" alt="" class="size-total-working mr-1">
                        </i>
                        <i>
                            <img src="../../assets/photo/snowflake-icon-white.png" alt="" class="size-total-working-2 mr-1">
                        </i>: {{getLocalLastReport(d.imei).icemakerbill?(getLocalLastReport(d.imei).icemakerbill.productiontime.working | number:'1.2-2')+' h': 'NO
                        DATA'}}
                    </li>
                    <li class="list-group-item list-group-item-success text-uppercase">
                        <i>
                            <img src="../../assets/photo/sum-icon-white.png" alt="" class="size-toltal-sleeping mr-1">
                            <img src="../../assets/photo/sleep-icon-white.png" alt="" class="size-toltal-sleeping mr-1">
                        </i>: {{getLocalLastReport(d.imei).icemakerbill?(getLocalLastReport(d.imei).icemakerbill.productiontime.parking | number:'1.2-2')+' h':'NO
                        DATA'}}
                    </li>
                    <!-- <li class="list-group-item list-group-item-success text-uppercase">total run: {{d.totalrun}}</li> -->
                </ul>

            </div>
        </div>
    </div>
</div>

<hr>

<div class="row input-group d-flex justify-content-center">
    <button class="col-md-2 col-sm-6 col-12 mt-3 ml-3 btn-year" *ngFor="let m of getYears()" [ngClass]="{'selected-year': _selectedYear == m}"
        (click)="selectYear(m)">{{m}}</button>
</div>

<!-- <hr> -->

<div class="clearfix col-lg-10 offset-lg-1 col-12">
    <div class="mt-2 mb-4 ">
        <div class="months">
            <nav>
                <ul class="pagination">
                    <li *ngFor="let m of getMonths()">
                        <a [ngClass]="{'active': _selectedMonth == m}" (click)="selectMonth(m)">{{m}}</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>