.btn-form-users{
display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  height: 40px !important;
  cursor: pointer;
}

.btn-primary-form-users {
    height: 40px !important;
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
  }
  
  .btn-primary-form-users:hover {
    color: #fff;
    background-color: #0069d9;
    border-color: #0062cc;
  }

  .btn-danger-form-users {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
  }
  
  .btn-danger-form-users:hover {
    color: #fff;
    background-color: #c82333;
    border-color: #bd2130;
  }

.img-fluid{
    width: 200px;
    height: 200px;
    border: 2px solid rgb(211, 207, 207);
}
.form-control{
    border:1px solid #aff587 !important;
    border-radius:  0px 0px 20px 20px;
    border-top:none !important;
    border-left:none !important;
    border-right: none !important;
    margin-top:0px !important;
    padding-top:0px !important;
}
.font-color-form-users{
    color:#aab1a7 !important;
}

.mg-btn{
    margin:20px !important;
}

.card-form-users {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  padding:33px;
  margin-bottom: 20px;
}

/* ...........//////////////////////////............. */


.small-box {
  border-radius: 0.25rem;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.125), 0 1px 3px rgba(0, 0, 0, 0.2);
  position: relative;
  display: block;
  margin-bottom: 20px;
}

.small-box > .inner {
  padding: 10px;
}

.small-box > .small-box-footer {
  position: relative;
  text-align: center;
  padding: 3px 0;
  color: #ffffff;
  color: rgba(255, 255, 255, 0.8);
  display: block;
  z-index: 10;
  background: rgba(0, 0, 0, 0.1);
  text-decoration: none;
}

.small-box > .small-box-footer:hover {
  color: #ffffff;
  background: rgba(0, 0, 0, 0.15);
}

.small-box h3 {
  font-size: 38px;
  font-weight: bold;
  margin: 0 0 10px 0;
  white-space: nowrap;
  padding: 0;
}

.small-box p {
  font-size: 15px;
}

.small-box p > small {
  display: block;
  color: #f9f9f9;
  font-size: 13px;
  margin-top: 5px;
}

.small-box h3, .small-box p {
  z-index: 5;
}

.small-box .icon {
  transition: all 0.3s linear;
  position: absolute;
  top: -10px;
  right: 10px;
  z-index: 0;
  font-size: 90px;
  color: rgba(0, 0, 0, 0.15);
}

.small-box:hover {
  text-decoration: none;
}

.small-box:hover .icon {
  font-size: 95px;
}

@media (max-width: 767.98px) {
  .small-box {
    text-align: center;
  }
  .small-box .icon {
    display: none;
  }
  .small-box p {
    font-size: 12px;
  }
}

.bg-success, .alert-success, .label-success {
  background-color: #28a745 !important;
}
a.bg-success:hover, a.alert-success:hover, a.label-success:hover, a.bg-success:focus, a.alert-success:focus, a.label-success:focus,
button.bg-success:hover,
button.alert-success:hover,
button.label-success:hover,
button.bg-success:focus,
button.alert-success:focus,
button.label-success:focus {
  background-color: #1e7e34 !important;
}