<section class="container">
    <div class="card-form-users">
        <div class="">
            <ul id="tabsJustified" class="nav nav-tabs ml-auto justify-content-center mt-3">
                <li class="nav-item"><a href="" data-target="#profile1" data-toggle="tab" class="nav-link small text-uppercase active">Profile</a></li>
                <li class="nav-item"><a href="" data-target="#messages1" data-toggle="tab" class="nav-link small text-uppercase">Messages</a></li>
                <li class="nav-item "><a href="" data-target="#home1" data-toggle="tab" class="nav-link small text-uppercase">Home</a></li>
            </ul>
            <br>
            <div id="tabsJustifiedContent" class="tab-content">
                <div id="profile1" class="tab-pane fade active show">
                    <div class="row pb-2">                        
                        <div class="col-md-4 offset-md-4">
                            <img src="../../assets/photo/default-user.png" class="img-fluid rounded-circle mx-auto d-block">                            
                        </div>
                    </div>
                    <div class="d-block justify-content-center">
                        <label class="col-md-3 col-xs-3 btn-form-users btn-primary-form-users d-block mx-auto mt-3"> Select photo
                            <input type="file"  placeholder="file"  hidden required >
                        </label>
                    </div>
                    <section id="form-add-users">
                        <div class="row col-md-10 offset-md-1 font-color-form-users">
                            <div class="group-control col-md-6 col-12 mt-4">
                                <label class="langlao" for="">ຊື່ຕູ້ນ້ຳກ້ອນ *</label>
                                <input class="form-control" type="text">
                            </div>
                            <div class="group-control col-md-6 col-12 mt-4">
                                <label class="langlao" for="">ເລກ IMEI *</label>
                                <input class="form-control" type="text">
                            </div>
                            <div class="group-control col-12 mt-4">
                                <label class="langlao" for="">ໝາຍເຫດ *</label>
                                <input class="form-control" type="text">
                            </div>
                            <div class="group-control col-12 mt-4 d-flex justify-content-center">
                                <button class="col-md-4 mg-btn col-6 btn btn-primary-form-users langlao" type="submit">ເພີ່ມຜູ້ໃຊ້</button>
                                <button class="col-md-4 mg-btn col-6 btn btn-danger-form-users langlao" type="reset">ຍົກເລີກ</button>
                            </div>
                        </div>
                    </section>
                </div>
                <div id="home1" class="tab-pane fade">
                    <div class="list-group"><a href="" class="list-group-item d-inline-block"><span class="float-right badge badge-pill badge-dark">51  </span> Home Link</a> <a href="" class="list-group-item d-inline-block"><span class="float-right badge badge-pill badge-dark">8</span> Link 2</a>                            <a href="" class="list-group-item d-inline-block"><span class="float-right badge badge-pill badge-dark">23</span> Link 3</a> <a href="" class="list-group-item d-inline-block text-muted">Link n..</a></div>
                </div>
                <div id="messages1" class="tab-pane fade">
                    <div class="list-group"><a href="" class="list-group-item d-inline-block"><span class="float-right badge badge-pill badge-dark">44</span> Message 1</a> <a href="" class="list-group-item d-inline-block"><span class="float-right badge badge-pill badge-dark">8</span> Message 2</a>                            <a href="" class="list-group-item d-inline-block"><span class="float-right badge badge-pill badge-dark">23</span> Message 3</a> <a href="" class="list-group-item d-inline-block text-muted">Message n..</a></div>
                </div>
            </div>
        </div>
    </div>
</section>