<button class="btn btn-sm mx-auto d-block btn-outline-primary mb-3 langlao" (click)="acc.toggle('toggle-1')">ສະແດງລາຍການສິນຄ້າ</button>
<ngb-accordion #acc="ngbAccordion">
    <ngb-panel id="toggle-1" title="Show information">
        <ng-template ngbPanelContent>
                <h3 class="display-6 text-center langlao">ລາຍການສິນຄ້າ</h3>
                <div class="d-flex justify-content-center mt-2">
                        <div class="col-12 scrolling-wrapper mt-3">
                            <div class="card col-12">
                                <div class="col-12">
                                    <form method="POST " action="">
                                        <table class="table table-bordered">
                                            <thead>
                                                <tr>
                                                    <th class="langlao ct">ໃບບິນ</th>
                                                    <th class="langlao ct" >ລະຫັດ</th>
                                                    <th class="langlao ct" >ຊົ່ວໂມງເຮັດວຽກ</th>
                                                    <th class="langlao ct" >ປະລິມານ</th>
                                                    <th class="langlao ct" >ລາຄາ</th>
                                                    <th class="langlao ct" >ຈຳນວນ</th>
                                                    <th class="langlao ct" >ຊຳລະແລ້ວ</th>
                                                    <th class="langlao ct" >ວັນທີຊຳລະ</th>                                                                
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <th class="langlao ct">ວັນທີ 1</th>
                                                    <th>010518</th>
                                                    <td>10</td>
                                                    <td>80</td>
                                                    <td>250</td>
                                                    <td>2000</td>
                                                    <td><input type="checkbox"></td>
                                                    <td>12.12.2022</td>
                                                </tr>
                                                <tr>
                                                    <th class="langlao ct">ວັນທີ 2</th>                                                                
                                                    <th>010518</th>
                                                    <td>10</td>
                                                    <td>80</td>
                                                    <td>250</td>
                                                    <td>2000</td>
                                                    <td><input type="checkbox"></td>
                                                    <td>12.12.2022</td>
                                                </tr>
                                                <tr>
                                                    <th class="langlao ct">ວັນທີ 3</th> 
                                                    <th>010518</th>
                                                    <td>10</td>
                                                    <td>80</td>
                                                    <td>250</td>
                                                    <td>2000</td>
                                                    <td><input type="checkbox"></td>
                                                    <td>12.12.2022</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </form>
                                </div>
                            </div>
                            <div class="card col-12">
                                    <div class="col-12">
                                        <form method="POST " action="">
                                            <table class="table table-bordered">
                                                <thead>
                                                    <tr>
                                                        <th class="langlao ct">ໃບບິນ</th>
                                                        <th class="langlao ct" >ລະຫັດ</th>
                                                        <th class="langlao ct" >ຊົ່ວໂມງເຮັດວຽກ</th>
                                                        <th class="langlao ct" >ປະລິມານ</th>
                                                        <th class="langlao ct" >ລາຄາ</th>
                                                        <th class="langlao ct" >ຈຳນວນ</th>
                                                        <th class="langlao ct" >ຊຳລະແລ້ວ</th>
                                                        <th class="langlao ct" >ວັນທີຊຳລະ</th>                                                                
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <th class="langlao ct">ວັນທີ 1</th>
                                                        <th>010518</th>
                                                        <td>10</td>
                                                        <td>80</td>
                                                        <td>250</td>
                                                        <td>2000</td>
                                                        <td><input type="checkbox"></td>
                                                        <td>12.12.2022</td>
                                                    </tr>
                                                    <tr>
                                                        <th class="langlao ct">ວັນທີ 2</th>                                                                
                                                        <th>010518</th>
                                                        <td>10</td>
                                                        <td>80</td>
                                                        <td>250</td>
                                                        <td>2000</td>
                                                        <td><input type="checkbox"></td>
                                                        <td>12.12.2022</td>
                                                    </tr>
                                                    <tr>
                                                        <th class="langlao ct">ວັນທີ 3</th> 
                                                        <th>010518</th>
                                                        <td>10</td>
                                                        <td>80</td>
                                                        <td>250</td>
                                                        <td>2000</td>
                                                        <td><input type="checkbox"></td>
                                                        <td>12.12.2022</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </form>
                                    </div>
                            </div>
                            
                        </div>
                </div>
        </ng-template>
    </ngb-panel>        
</ngb-accordion>    

<button class="col-6 btn d-block mx-auto btn-primary langlao mt-3 mb-3" [routerLink]="['/pay-bill']">ຊຳລະ</button>  
      <hr/>
    


<!-- <h2 class="display-6 langlao mt-5 text-center">ສ້າງບິນ ແລະ ຊຳລະ</h2>
<div class="row container d-flex justify-content-center mt-5">
    <ul>
        <li>IMEI:</li>
        <li class="langlao">ຊື່:</li>
        <li class="langlao">ຊົ່ວໂມງເຮັດວຽກ:</li>
        <li class="langlao">ຈຳນວນເວລາທັງໝົດ:</li>
        <li class="langlao">ມື້ຕິດຕັ້ງ:</li>
        <li class="langlao">ຜູ້ໃຊ້:</li>
    </ul>
</div> -->