tr,th,td{
    text-align: center !important;
}
.form-control {
    background-color: white !important;
}

.scrolling-wrapper {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}

.scrolling-wrapper .card {
    display: inline-block;
}

.scrolling-wrapper-flexbox {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
}

.scrolling-wrapper-flexbox .card {
    flex: 0 0 auto;
    margin-right: 3px;
}

.card {
    border-color: white;
    background: white;
    padding-top: 10px;
    margin-bottom: 20px !important;
}

.scrolling-wrapper,
.scrolling-wrapper-flexbox {
    width: 100%;
    -webkit-overflow-scrolling: touch;
}

.scrolling-wrapper::-webkit-scrollbar,
.scrolling-wrapper-flexbox::-webkit-scrollbar {}

.color-head-transfer {
    font-size: 12pt;
    color: red;
    line-height: 10px;
}

.color-content-transfer {
    font-size: 12pt;
    color: black;
    line-height: 10px;
}
.card-header:first-child{
    display: none !important;
}
.card-header{
    padding: 0rem !important;
    margin: 0 !important;
    border-bottom: 0 !important;
}