<div class="container">
    <div class="row">
        <div class="col-12">
            <h4 class="dispaly-7 text-center langlao mt-3">ສາທາລະນະລັດ ປະຊາທິປະໄຕ ປະຊາຊົນລາວ
                <br> ສັນຕິພາບ ເອກະລາດ ປະຊາທິໄຕ ເອກະພາບ ວັດຖະນາຖາວອນ</h4>
            <h1 class="display-6 text-center langlao mt-3">
                <u>ໃບຮັບເງິນ</u>
            </h1>
        </div>
    </div>
    <div class="row float-right">
        <div class="">
            <span class="input-group">
                <label class="mt-2 langlao">ວັນທີ ເດືອນ ປີ:</label>
                {{_currentPayment.paidtime}}
            </span>
        </div>
    </div>
    <div class="row float-left">
        <div class="col-12">
            <span class="input-group">
                <label class="langlao mt-2">ຊື່ລູກຄ້າ:</label>
                {{_currentPayment.username}}
            </span>
            <span class="input-group mt-2">
                <label class="langlao mt-2">IMEI:</label>
                {{_currentPayment.imei}}
            </span>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="mt-5">
        <div class="d-flex justify-content-center">
            <div class="">
                <form method="POST " action="">
                    <table class="table table-bordered table-responsive">
                        <thead>
                            <tr>
                                <th class="langlao ct">ລະຫັດ</th>
                                <th class="langlao ct">ຊົ່ວໂມງເຮັດວຽກ</th>
                                <th class="langlao ct">ປະລິມານ</th>
                                <th colspan="4" class="langlao ct">ຈຳນວນເງິນ</th>
                                <th class="langlao">ເພີ່ມເຕີມ</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let b of _currentPayment.bills">
                                <th>
                                    {{b.sn}}
                                </th>
                                <td class="langlao">
                                    {{b.working | number:'1.2-2'}} ຊົ່ວໂມງ
                                </td>
                                <td class="langlao">
                                    {{b.working*b.effeciency | number:'1.2-2'}} ກິໂລ
                                </td>
                                <td colspan="4">
                                    {{b.totalvalue | number:'1.0-0'}}
                                </td>
                                <td colspan="4">
                                    ({{b.description}})
                                </td>
                            </tr>
                            <tr class="height-price">
                                <th colspan="3" id="free-space"></th>
                                <td class="langlao">ສ່ວນຫລຸດ</td>
                                <td colspan="1">{{-_currentPayment.totaldiscount}}</td>
                            </tr>
                            <tr class="height-price">
                                <th colspan="3" id="free-space"></th>
                                <td class="langlao">ລວມ</td>
                                <td colspan="1">{{_currentPayment.totalvalue | number:'1.0-0'}}</td>
                            </tr>
                            <tr class="height-price">
                                <th colspan="3" id="free-space"></th>
                                <td class="langlao">ຈ່າຍຕົວຈິງ</td>
                                <td colspan="1">{{_currentPayment.totalpaid | number:'1.0-0'}}</td>
                            </tr>
                        </tbody>
                    </table>
                </form>
            </div>
        </div>
    </div>
    <div class="q3">
        <div class="discription-left">
            <label class="langlao">ເພີ່ມເຕີມ</label>
            <textarea class="form-control langlao"  id="" rows="1" [value]="_currentPayment.description" (input)="_currentPayment.description($event.target.value)" disabled></textarea>
        </div>
    </div>
    <div class="mt-5 mb-5 mr-5">
        <div class="recieve-money">
            <h6 class="text-right langlao min-height">
                <u>ລາຍເຊັນຜູ້ຮັບເງິນ</u>
            </h6>
        </div>
    </div>
</div>