.table tr,
th,
td {
  text-align: center !important;
}
.bd-form {
  border: 2px dotted;
  border-top: none !important;
  border-left: none !important;
  border-right: none !important;
  background: none !important;
}
.container {
  /* border: 1px solid rgb(219, 216, 216); */
  margin-top: 33px;
  padding: 63px;
}

.display-6 {
  font-weight: bold;
}
.dispaly-7 {
  font-size: 0.8rem;
  font-weight: 300;
  line-height: 1.5;
}
.text-right {
  text-align: right !important;
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.5;
}
#edit-text-bill {
  text-align: center !important;
  border: none;
  background: none !important;
}

#remove-bd-input {
  text-align: center !important;
  border: none;
  background: none !important;
}

/* .min-height {
  margin-bottom: 280px;
} */
.table {
  border: none !important;
}
#free-space {
  border: none !important;
}

.form-control {
  border: 1px solid #aff587 !important;
  border-radius: 0px 0px 20px 20px;
  border-top: none !important;
  border-left: none !important;
  border-right: none !important;
  margin-top: 0px !important;
  padding-top: 0px !important;
}

/* .........///////////////////........... */
.select-device-list{
  width: 330px !important;
}

.size-icon-one{
  height: 20px;
  width: 25px;
  border-radius: 100%;
  font-size: 10pt;
  color:black;
  background: #04b42144;
  padding: 4px;
}
.size-icon-all{
  height: 20px;
  width: 25px;
  border-radius: 100%;
  font-size: 10pt;
  color:black;
  background: rgba(3, 169, 244, 0.2);
  padding: 4px;
}
.size-icon-two{
  height: 20px;
  width: 25px;
  border-radius: 100%;
  font-size: 10pt;
  color:black;
  background: #ccf53ac4;
  padding: 4px;
}
.size-icon-three{
  height: 20px;
  width: 25px;
  border-radius: 100%;
  font-size: 10pt;
  color:black;
  background: #f7c0c8;
  padding: 4px;
}
.size-icon-four{
  height: 20px;
  width: 25px;
  border-radius: 100%;
  font-size: 10pt;
  color:black;
  background: #ccd2d3;
  padding: 4px;
}
.size-icon-five{
  height: 20px;
  width: 25px;
  border-radius: 100%;
  font-size: 10pt;
  color:black;
  background: rgba(230, 230, 181, 0.863);
  padding: 4px;
}
.size-icon-six{
  height: 20px;
  font-size:12pt !important;
  width: 25px;
  border-radius: 100%;
  font-size: 10pt;
  color:black;
  background: rgba(241, 202, 202, 0.418);
  padding: 4px;
}


.width-mintime{
  width: 130px;
}