.table tr,
th,
td {
  text-align: center !important;
}
.bd-form {
  border: 2px dotted;
  border-top: none !important;
  border-left: none !important;
  border-right: none !important;
  background: none !important;
}
.container {
  border: 1px solid rgb(219, 216, 216);
  margin-top: 33px;
  padding: 63px;
}

.display-6 {
  font-weight: bold;
}
.dispaly-7 {
  font-size: 0.8rem;
  font-weight: 300;
  line-height: 1.5;
}
.text-right {
  text-align: right !important;
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.5;
}
#edit-text-bill {
  text-align: center !important;
  border: none;
  background: none !important;
}

#remove-bd-input {
  text-align: center !important;
  border: none;
  background: none !important;
}

.min-height {
  margin-bottom: 280px;
}
.table {
  border: none !important;
}
#free-space {
  border: none !important;
}

.form-control {
  border: 1px solid #aff587 !important;
  border-radius: 0px 0px 20px 20px;
  border-top: none !important;
  border-left: none !important;
  border-right: none !important;
  margin-top: 0px !important;
  padding-top: 0px !important;
}