<div class="container col-xl-7 col-lg-8 col-md-10 col-12">
    <div class="row">
        <div class="col-12">
                <h4 class="dispaly-7 text-center langlao mt-3">ສາທາລະນະລັດ ປະຊາທິປະໄຕ ປະຊາຊົນລາວ <br> ສັນຕິພາບ ເອກະລາດ ປະຊາທິໄຕ ເອກະພາບ ວັດຖະນາຖາວອນ</h4>
                <h1 class="display-6 text-center langlao mt-3">ໃບຮັບເງິນ</h1>
        </div>
    </div>
    <div class="row float-right">
        <div class="">
            <span class="input-group">
                <label class="mt-2 langlao">ວັນທີ ເດືອນ ປີ:</label>
                <input class="bd-form langlao text-center" type="text">
            </span>
        </div>
    </div>
    <div class="row float-left">
        <div class="">
            <span class="input-group">
                    <label class="col-5 langlao mt-2">ຊື່ລູກຄ້າ:</label>
                    <input type="text" class="col-7 bd-form langlao" placeholder="ທ້າວ ກຂຄງ">                         
            </span>
            <span class="input-group mt-2">
                    <label class="col-5 langlao mt-2">ເບີໂທລະສັບ:</label>
                    <input type="text" class="col-7 bd-form langlao" placeholder="020 99999999">                        
            </span>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="row mt-5">
        <div class="col-12">
            <div class="col-12">
                <form method="POST " action="">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th class="langlao ct" >ລະຫັດ</th>
                                <th class="langlao ct" >ຈຳນວນເງິນ</th>
                                <th colspan="4" class="langlao ct" >ໝາຍເຫດ</th>                                                            
                            </tr>
                        </thead>
                        <tbody>
                            <tr>                                
                                <th>010518</th>
                                <td id="width-text-bill"><input type="number" id="edit-text-bill" placeholder="000.000.000"></td>
                                <td colspan="4"><input type="text" class="langlao" id="edit-text-bill" placeholder="ຈ່າຍແລ້ວ"></td>                               
                            </tr>
                            <tr>                                                                                           
                                <th>010518</th>                                
                                <td><input type="number" id="edit-text-bill" placeholder="000.000.000"></td>
                                <td colspan="4"><input type="text" class="langlao" id="edit-text-bill" placeholder="......"></td>                           
                            </tr>
                            <tr>                                                                                           
                                <th>010518</th>                                
                                <td><input type="number" id="edit-text-bill" placeholder="000.000.000"></td>
                                <td colspan="4"><input type="text" class="langlao" id="edit-text-bill" placeholder="......"></td>                         
                            </tr>
                            <tr>                                                                                           
                                <th>010518</th>                                
                                <td><input type="number" id="edit-text-bill" placeholder="000.000.000"></td>
                                <td colspan="4"><input type="text" class="langlao" id="edit-text-bill" placeholder="......"></td>                          
                            </tr>
                            <tr>
                                <th colspan="2" id="free-space"></th>                                 
                                <td class="langlao">ລວມ</td>
                                <td colspan=""><input type="text" class="langlao" id="edit-text-bill" placeholder="000.000.000 ກີບ"></td>                              
                            </tr>
                        </tbody>
                    </table>
                </form>
            </div>
        </div> 
    </div>
    <div class="mt-5 mb-5 mr-5">
        <div class="recieve-money">
            <h6 class="text-right langlao"><u>ຜູ້ຮັບເງິນ</u></h6>
        </div>
    </div>
</div>
