<div class="limiter">
	<div class="container-table100">
		<div class="wrap-table100">
			<div class="table100 card">
				<h3 class="text-center display-7 mt-2">Laos-Ice<i class="fas fa-leaf" id="ice-color"></i></h3>
				<h5 class="display-7 text-center langlao mt-3 mb-3"><u>ລາຍຊື່ຕູ້ນ້ຳກ້ອນ Ice-App</u></h5>
				<table>
					<thead>
						<tr class="table100-head">
							<th class="langlao">ຊື່ຕູ້ນ້ຳກ້ອນ</th>
							<th class="langlao">ເລກ IMEI</th>
							<th class="langlao">ສະຸຖານະ</th>
							<th class="langlao width-stwork">ຊື່ຜູ້ໃຊ້</th>
							<th colspan="2" class="langlao">..........waiting...........</th>								
						</tr>
					</thead>
					<tbody class="height-tbdody">
						<tr [routerLink]="['/mix-chart']">
							<td class="langlao">ຕູ້ນ້ຳກ້ອນ A</td>
							<td class="langlao">201597410398</td>
							<td class="langlao">Working</td>
							<td class="langlao">User A</td>
							<td colspan="2" class="langlao">......</td>
						</tr>
						<tr [routerLink]="['/mix-chart']">
							<td class="langlao">ຕູ້ນ້ຳກ້ອນ A</td>
							<td class="langlao">201597410398</td>
							<td class="langlao">Working</td>
							<td class="langlao">User A</td>
							<td colspan="2" class="langlao">......</td>
						</tr>
						<tr [routerLink]="['/mix-chart']">
							<td class="langlao">ຕູ້ນ້ຳກ້ອນ A</td>
							<td class="langlao">201597410398</td>
							<td class="langlao">Working</td>
							<td class="langlao">User A</td>
							<td colspan="2" class="langlao">......</td>
						</tr>
						<tr [routerLink]="['/mix-chart']">
							<td class="langlao">ຕູ້ນ້ຳກ້ອນ A</td>
							<td class="langlao">201597410398</td>
							<td class="langlao">Working</td>
							<td class="langlao">User A</td>
							<td colspan="2" class="langlao">......</td>
						</tr>
						<tr [routerLink]="['/mix-chart']">
							<td class="langlao">ຕູ້ນ້ຳກ້ອນ A</td>
							<td class="langlao">201597410398</td>
							<td class="langlao">Working</td>
							<td class="langlao">User A</td>
							<td colspan="2" class="langlao">......</td>
						</tr>
						<tr [routerLink]="['/mix-chart']">
							<td class="langlao">ຕູ້ນ້ຳກ້ອນ A</td>
							<td class="langlao">201597410398</td>
							<td class="langlao">Working</td>
							<td class="langlao">User A</td>
							<td colspan="2" class="langlao">......</td>
						</tr>
					</tbody>						
				</table>
			</div>
		</div>
	</div>
</div>

<div class="get-detail-and-add">
<button class="col-3 btn2 btn-success2 d-block mx-auto" (click)="getDevices()">get list</button>
<button class="col-3 btn2 btn-primary2 d-block mx-auto text-center mt-3 langlao">ເພີ່ມຜູ້ໃຊ້</button>
</div>
