<div class="limiter card">
		<div class="container-table100">
			<div class="wrap-table100">
				<div class="table100 card">
					<table>
						<thead>
							<tr class="table100-head">
								<th class="langlao">ຊື່ຕູ້ນ້ຳກ້ອນ</th>
								<th class="langlao">ເລກ IMEI</th>
								<th class="langlao">ສະຸຖານະ</th>
								<th class="langlao width-stwork">ເລີ່ມຕົ້ນເຮັດວຽກ</th>
								<th class="langlao">ຢຸດເຮັດວຽກ</th>
								<th class="langlao">ລວມເວລາ</th>
							</tr>
						</thead>
						<tbody class="height-tbdody">
							<tr [routerLink]="['/mix-chart']">
								<td class="langlao">ຕູ້ນ້ຳກ້ອນ A</td>
								<td class="langlao">201597410398</td>
								<td class="langlao">Working</td>
								<td class="langlao">06:00 AM</td>
								<td class="langlao">23:25 PM</td>
								<td class="langlao">17:25 H</td>
							</tr>
							<tr>
								<td class="langlao">ຕູ້ນ້ຳກ້ອນ A</td>
								<td class="langlao">201597410398</td>
								<td class="langlao">Working</td>
								<td class="langlao">06:00 AM</td>
								<td class="langlao">23:25 PM</td>
								<td class="langlao">17:25 H</td>
							</tr>
							<tr>
								<td class="langlao">ຕູ້ນ້ຳກ້ອນ A</td>
								<td class="langlao">201597410398</td>
								<td class="langlao">Working</td>
								<td class="langlao">06:00 AM</td>
								<td class="langlao">23:25 PM</td>
								<td class="langlao">17:25 H</td>
							</tr>
							<tr>
								<td class="langlao">ຕູ້ນ້ຳກ້ອນ A</td>
								<td class="langlao">201597410398</td>
								<td class="langlao">Working</td>
								<td class="langlao">06:00 AM</td>
								<td class="langlao">23:25 PM</td>
								<td class="langlao">17:25 H</td>
							</tr>
							<tr>
								<td class="langlao">ຕູ້ນ້ຳກ້ອນ A</td>
								<td class="langlao">201597410398</td>
								<td class="langlao">Working</td>
								<td class="langlao">06:00 AM</td>
								<td class="langlao">23:25 PM</td>
								<td class="langlao">17:25 H</td>
							</tr>
							<tr>
								<td class="langlao">ຕູ້ນ້ຳກ້ອນ A</td>
								<td class="langlao">201597410398</td>
								<td class="langlao">Working</td>
								<td class="langlao">06:00 AM</td>
								<td class="langlao">23:25 PM</td>
								<td class="langlao">17:25 H</td>
							</tr>
						</tbody>
						
					</table>
				</div>
			</div>
		</div>
	</div>
