<h1 class="text-center mt-5">Users-list</h1>
<div class="mt-3">
  <div class="row">
    <div class="col-md-8 offset-md-2 col-12">
      <div class="col-12">
        <div class="input-group">
          <input type="text" class="form-control custom-formcontrol" placeholder="Search" name="search">
          <button class="btn-search" type="submit">
            <i class="fas fa-search"></i>
          </button>
        </div>
      </div>
      <button class="btn btn-primary d-block mx-auto d-width Rounded langlao mt-3" (click)="Add_Button_Users(button_user)"><i class="far fa-plus-square"></i> <br>ເພີ່ມ-Users</button>
    </div>
  </div>
  <div class="row">
    <div class="col-md-10 offset-md-1 mt-3">
      <table class="table table-bordered table-striped table-responsive">
        <thead class="thead-dark">
          <tr>
            <th></th>
            <th class="langlao" scope="col">username {{_currentSubUser.count}}</th>
            <th class="langlao" scope="col">phonenumber</th>
            <th class="langlao" scope="col">active</th>
            <th class="langlao" scope="col">lastupdate</th>
          </tr>
        </thead>
        <tbody>
            <tr *ngFor="let u of _currentSubUser.arr" (click)="Show_update_details(Alert_update_details,u)" class="bg-list" >
                <th><img class="img-resize" [src]="u.photo.length?u.photo[0]:'../../assets/photo/Logo_replace_three.png'" alt=""></th>
                <th class="langlao" scope="row">{{u.username}}</th>
                <td class="phone-number">{{u.phonenumber}}</td>
                <td>
                  <input type="checkbox" class="form-check-input"  checked="u.isactive" ></td>
                <td >{{u.lastupdate}}</td>
            </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<!-- Alert add button users -->
<div class="col-md-12">
  <div class="add-new-devices">
    <ng-template #button_user let-c="close" let-d="dismiss" id="">      
      <div class="modal-body">
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
        <h1 class="text-center display-5 langlao mt-3">ຍິນດີຕ້ອນຮັບເຂົ້າສູ່ລະບົບການເພີ່ມຈຳນວນຄົນ</h1>        
        <hr>
        <h1 class="text-center display-6 langlao mt-3">ກະລຸນາເລືອກຕຳແໜ່ງຜູ້ທີ່ຈະສະໝັກ</h1>
        <div class="input-group">
          <button class="btn btn-primary d-block mx-auto langlao size-add-people mt-3" (click)="Add_New_Sales(new_sales)"><i class="fas fa-male"></i> <br> ເພີ່ມ-Sale</button>
          <button class="btn btn-primary d-block mx-auto langlao size-add-people mt-3" (click)="Add_New_Users(new_Users)"><i class="fas fa-user-plus"></i> <br> ເພີ່ມ-Users</button>
          <button class="btn btn-primary d-block mx-auto langlao size-add-people mt-3" (click)="Add_New_Finances(new_finances)"><i class="fas fa-male mr-2"></i><i class="fas fa-money-bill-alt"></i> <br> ເພີ່ມ-Finance</button>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-light" (click)="c('Close click')">Close</button>
      </div>
    </ng-template>
  </div>
</div>

<!-- Text alert add-userts -->
<div class="col-md-12">
  <div class="add-new-devices">
    <ng-template #new_Users let-c="close" let-d="dismiss" id="">
      <div class="modal-body">
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
        <h1 class="text-center display-5 langlao mt-3">ຍິນດີຕ້ອນຮັບເຂົ້າສູ່ລະບົບການເພີ່ມ "USER"</h1>
        <h1 class="text-center display-6 langlao mt-3">ກະລຸນາປ້ອນຂໍ້ມູນໃຫ້ຄົບຖ້ວນ</h1>
        <p class="text-center size-icon-add"><i class="fas fa-users"></i></p>
        <hr>
        <div class="add-user-origin">
          <section id="form-add-users">
            <form>
              <div class="row col-md-10 offset-md-1 font-color-form-users">
                <div class="group-control col-md-6 col-12 mt-4">
                  <label class="langlao mg-name" for="username">ກະລຸນາປ້ອນຊື່ *</label>
                  <input name="username" name="username" (value)="_newUser.data['user']===undefined? '' : _newUser.data['user'].username" (input)="_newUser.data['user'].username=$event.target.value"
                    type="text" placeholder="Username" class="form-control" required>
                </div>
                <div class="group-control col-md-6 col-12 mt-4">
                  <label class="langlao mg-name" for="phonenumber">ເບີໂທລະສັບ (+85620) *</label>
                  <input name="phonenumber" (value)="_newUser.data['user'].phonenumber===undefined? '' : _newUser.data['user'].phonenumber"
                    (input)="_newUser.data['user'].phonenumber=$event.target.value" type="number" maxlength="10" placeholder="phonenumber: 205 or 209" class="form-control" required>
                </div>
                <div class="group-control col-md-6 col-12 mt-4">
                  <label class="langlao mg-name" for="rpassword">ລະຫັດຜ່ານ *</label>
                  <input name="rpassword" name="rpassword" (value)="_newUser.data['user'].password===undefined? '' : _newUser.data['user'].password"
                    (input)="_newUser.data['user'].password=$event.target.value" type="password" placeholder="password" class="form-control" required>
                </div>
                <div class="group-control col-md-6 col-12 mt-4">
                  <label class="langlao mg-name" for="rconfirmpassword">ຢືນຢັນລະຫັດຜ່ານ *</label>
                  <input name="rconfirmpassword" (value)="_newUser.data['user'].confirmpassword===undefined? '' : _newUser.data['user'].confirmpassword"
                    (input)="_newUser.data['user'].confirmpassword=$event.target.value" type="password" placeholder="confirm password"
                    class="form-control" required>
                </div>
                <div class="group-control col-12 mt-4 d-flex justify-content-center">
                  <button class="col-md-4 mg-btn col-6 btn btn-primary-form-users langlao" type="submit" (click)='registerNewUser()'><i class="far fa-registered mr-1"></i>ລົງທະບຽນ</button>
                  <button class="col-md-4 mg-btn col-6 btn btn-danger-form-users langlao" type="reset"><i class="fas fa-redo mr-1"></i>ຍົກເລີກ</button>
                </div>
              </div>
            </form>
          </section>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-light" (click)="c('Close click')">Close</button>
      </div>
    </ng-template>
  </div>
</div>

<!-- Alert Add-Sale -->
<div class="col-md-12">
  <div class="add-new-devices">
    <ng-template #new_sales let-c="close" let-d="dismiss" id="">
      <div class="modal-body">
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
        <h1 class="text-center display-5 langlao mt-3">ຍິນດີຕ້ອນຮັບເຂົ້າສູ່ລະບົບການເພີ່ມ "SALE"</h1>
        <h1 class="text-center display-6 langlao mt-3">ກະລຸນາປ້ອນຂໍ້ມູນໃຫ້ຄົບຖ້ວນ</h1>
        <p class="text-center size-icon-add"><i class="fas fa-male"></i></p>
        <hr>
        <div class="">
          <section id="form-add-users">
            <form>
              <div class="row col-md-10 offset-md-1 font-color-form-users">
                <div class="group-control col-md-6 col-12 mt-4">
                  <label class="langlao mg-name" for="username">ກະລຸນາປ້ອນຊື່ *</label>
                  <input name="username" name="username" (value)="_newUser.data['user']===undefined? '' : _newUser.data['user'].username" (input)="_newUser.data['user'].username=$event.target.value"
                    type="text" placeholder="Username" class="form-control" required>
                </div>
                <div class="group-control col-md-6 col-12 mt-4">
                  <label class="langlao mg-name" for="phonenumber">ເບີໂທລະສັບ (+85620) *</label>
                  <input name="phonenumber" (value)="_newUser.data['user'].phonenumber===undefined? '' : _newUser.data['user'].phonenumber"
                    (input)="_newUser.data['user'].phonenumber=$event.target.value" type="number" maxlength="10" placeholder="phonenumber: 205 or 209"
                    class="form-control" required>
                </div>
                <div class="group-control col-md-6 col-12 mt-4">
                  <label class="langlao mg-name" for="rpassword">ລະຫັດຜ່ານ *</label>
                  <input name="rpassword" name="rpassword" (value)="_newUser.data['user'].password===undefined? '' : _newUser.data['user'].password"
                    (input)="_newUser.data['user'].password=$event.target.value" type="password" placeholder="password" class="form-control"
                    required>
                </div>
                <div class="group-control col-md-6 col-12 mt-4">
                  <label class="langlao mg-name" for="rconfirmpassword">ຢືນຢັນລະຫັດຜ່ານ *</label>
                  <input name="rconfirmpassword" (value)="_newUser.data['user'].confirmpassword===undefined? '' : _newUser.data['user'].confirmpassword"
                    (input)="_newUser.data['user'].confirmpassword=$event.target.value" type="password" placeholder="confirm password"
                    class="form-control" required>
                </div>
                <div class="group-control col-12 mt-4 d-flex justify-content-center">
                  <button class="col-md-4 mg-btn col-6 btn btn-primary-form-users langlao" type="submit" (click)='registerSaleUser()'><i class="far fa-registered mr-1"></i>ລົງທະບຽນ</button>
                  <button class="col-md-4 mg-btn col-6 btn btn-danger-form-users langlao" type="reset"><i class="fas fa-redo mr-1"></i>ຍົກເລີກ</button>
                </div>
              </div>
            </form>
          </section>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-light" (click)="c('Close click')">Close</button>
      </div>
    </ng-template>
  </div>
</div>

<!-- Alert Add-Finance -->
<div class="col-md-12">
  <div class="add-new-devices">
    <ng-template #new_finances let-c="close" let-d="dismiss" id="">
      <div class="modal-body">
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
        <h1 class="text-center display-5 langlao mt-3">ຍິນດີຕ້ອນຮັບເຂົ້າສູ່ລະບົບການເພີ່ມ "FINANCE"</h1>
        <h1 class="text-center display-6 langlao mt-3">ກະລຸນາປ້ອນຂໍ້ມູນໃຫ້ຄົບຖ້ວນ</h1>
        <p class="text-center size-icon-add"><i class="fas fa-male mr-2"></i><i class="fas fa-money-bill-alt"></i></p>
        <hr>
        <div class="">
          <section id="form-add-users">
            <form>
              <div class="row col-md-10 offset-md-1 font-color-form-users">
                <div class="group-control col-md-6 col-12 mt-4">
                  <label class="langlao mg-name" for="username">ກະລຸນາປ້ອນຊື່ *</label>
                  <input name="username" name="username" (value)="_newUser.data['user']===undefined? '' : _newUser.data['user'].username" (input)="_newUser.data['user'].username=$event.target.value"
                    type="text" placeholder="Username" class="form-control" required>
                </div>
                <div class="group-control col-md-6 col-12 mt-4">
                  <label class="langlao mg-name" for="phonenumber">ເບີໂທລະສັບ (+85620) *</label>
                  <input name="phonenumber" (value)="_newUser.data['user'].phonenumber===undefined? '' : _newUser.data['user'].phonenumber"
                    (input)="_newUser.data['user'].phonenumber=$event.target.value" type="number" maxlength="10" placeholder="phonenumber: 205 or 209"
                    class="form-control" required>
                </div>
                <div class="group-control col-md-6 col-12 mt-4">
                  <label class="langlao mg-name" for="rpassword">ລະຫັດຜ່ານ *</label>
                  <input name="rpassword" name="rpassword" (value)="_newUser.data['user'].password===undefined? '' : _newUser.data['user'].password"
                    (input)="_newUser.data['user'].password=$event.target.value" type="password" placeholder="password" class="form-control"
                    required>
                </div>
                <div class="group-control col-md-6 col-12 mt-4">
                  <label class="langlao mg-name" for="rconfirmpassword">ຢືນຢັນລະຫັດຜ່ານ *</label>
                  <input name="rconfirmpassword" (value)="_newUser.data['user'].confirmpassword===undefined? '' : _newUser.data['user'].confirmpassword"
                    (input)="_newUser.data['user'].confirmpassword=$event.target.value" type="password" placeholder="confirm password"
                    class="form-control" required>
                </div>
                <div class="group-control col-12 mt-4 d-flex justify-content-center">
                  <button class="col-md-4 mg-btn col-6 btn btn-primary-form-users langlao" type="submit" (click)='registerFinanceUser()'><i class="far fa-registered mr-1"></i>ລົງທະບຽນ</button>
                  <button class="col-md-4 mg-btn col-6 btn btn-danger-form-users langlao" type="reset"><i class="fas fa-redo mr-1"></i>ຍົກເລີກ</button>
                </div>
              </div>
            </form>
          </section>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-light" (click)="c('Close click')">Close</button>
      </div>
    </ng-template>
  </div>
</div>

<!-- Alert info -->
<div class="info">
  <ng-template #Alert_update_details let-c="close" let-d="dismiss" id="">
    <div class="modal-header">
      <h4 class="modal-title langlao">ແກ້ໄຂຂໍ້ມູນ</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="">
        <div class="row pb-2">
          <div class="col-md-2 offset-md-5 col-4 offset-4 rounded-circle">
            <img [src]="_selectedSubUsers.photo.length?_selectedSubUsers.photo[0]:'../../assets/photo/Logo_replace_three.png'" class="img-fluid mx-auto d-block">
          </div>
        </div>
        <div class="d-block justify-content-center">
          <label class="col-md-3  col-5 btn-form-users btn-primary-form-users d-block mx-auto mt-3"> Select photo
            <input type="file" placeholder="file" hidden required>
          </label>
        </div>
        <form>
          <section id="form-add-users">
            <div class="row col-md-10 offset-md-1 font-color-form-users">
              <div class="group-control col-md-6 col-12 mt-4">
                <label class="langlao mg-name" for="">ຊື່ຜູ້ໃຊ້ *</label>
                <!-- <div *ngIf="_selectedSubUsers.isactive">----CHECKED----</div> -->
                <input class="form-control cursor-not-allowed" type="text" [value]="_selectedSubUsers.username" (input)="_selectedSubUsers.username=$event.target.value" disabled>
              </div>
              <div class="group-control col-md-6 col-12 mt-4">
                <label class="langlao mg-name" for="">ເບີໂທລະສັບ *</label>
                <input class="form-control cursor-not-allowed" type="number" [value]="_selectedSubUsers.phonenumber" (input)="_selectedSubUsers.username=$event.target.value" disabled>
              </div>
              <div class="group-control col-md-6 col-12 mt-4">
                <label class="langlao mg-name" for="">Status *</label>
                <div class="form-group form-control">
                    <label class="m-0" for="">Active *</label>
                    <input class="ml-3 checked-box-size" type="checkbox" [checked]="_selectedSubUsers.isactive" (change)="_selectedSubUsers.isactive=$event.target.checked">
                </div>
              </div>
              <div class="group-control col-md-6 col-12 mt-4">
                <label class="langlao mg-name" for="">Note *</label>
                <input class="form-control" type="text" [value]="_selectedSubUsers.note" (input)="_selectedSubUsers.note=$event.target.value">
              </div>
              <div class="group-control col-12 mt-4">
                <label class="langlao mg-name" for="">ໝາຍເຫດ *</label>
                <textarea class="form-control" type="text" [value]="_selectedSubUsers.description" (input)="_selectedSubUsers.description=$event.target.value">
                  </textarea>
                  <div >{{_selectedSubUsers.totalgij}} - {{_selectedSubUsers.totalgijspent}} = {{_selectedSubUsers.gijvalue}} GIJ</div>
              </div>
              <div class="group-control col-12 mt-4 d-flex justify-content-center">
                <button class="col-md-4 mg-btn col-6 btn btn-primary-form-users langlao" type="submit"><i class="far fa-check-square mr-1"></i>ອັບເດດ</button>
                <button class="col-md-4 mg-btn col-6 btn btn-danger-form-users langlao" type="reset"><i class="fas fa-redo mr-1"></i>ຍົກເລີກ</button>
              </div>
            </div>
          </section>
        </form>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-light" (click)="c('Close click')">Close</button>
    </div>
  </ng-template>
  <!-- <button class="btn btn-outline-success mb-2 mr-2" (click)="Show_update_details(Alert_update_details)"><i class="fas fa-plus-circle mr-1"></i>info</button>   -->
</div>