<h1 class="text-center mt-5">Users-list</h1>
<div class="mt-5">
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4 col-12">
      <div class="col-12">
        <div class="input-group">
          <input type="text" class="form-control custom-formcontrol" placeholder="Search" name="search">
          <button class="btn-search" type="submit">
            <i class="fas fa-search"></i>
          </button>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="add-new-devices">
        <ng-template #content let-c="close" let-d="dismiss" id="">
          <div class="modal-header">
            <h4 class="modal-title langlao">ເພີ່ມ Users</h4>
            <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="">
              <div class="d-block justify-content-center">
                  <h1 class="text-center display-6 langlao">ກະລຸນາເລືອກຕຳແໜ່ງຜູ້ທີ່ຈະລົງສະໝັກ</h1>
                  <div>
                    <select name="" id="" class="btn btn-primary d-block mx-auto mt-3 mb-3 langlao">
                      <option class="langlao" value="1">----ເລືອກ----</option>
                      <option value="">Users</option>
                      <option value="">Sale</option>
                      <option value="">Finance</option>
                    </select>
                  </div>
              </div>
              <section id="form-add-users">
                <div class="row col-md-10 offset-md-1 font-color-form-users">
                  <div class="group-control col-md-6 col-12 mt-4">
                    <label class="langlao mg-name" for="username">ກະລຸນາປ້ອນຊື່ *</label>
                    <input name="username" name="username" (value)="_newUser.data['user']===undefined? '' : _newUser.data['user'].username" (input)="_newUser.data['user'].username=$event.target.value" type="text" placeholder="Username" class="form-control" required>
                  </div>
                  <div class="group-control col-md-6 col-12 mt-4">
                    <label class="langlao mg-name" for="phonenumber">ເບີໂທລະສັບ (+85620) *</label>
                    <input name="phonenumber" (value)="_newUser.data['user'].phonenumber===undefined? '' : _newUser.data['user'].phonenumber" (input)="_newUser.data['user'].phonenumber=$event.target.value" type="number" maxlength="10" placeholder="phonenumber: 205 or 209"
                    class="form-control" required>
                  </div>
                  <div class="group-control col-md-6 col-12 mt-4">
                    <label class="langlao mg-name" for="rpassword">ລະຫັດຜ່ານ *</label>
                    <input name="rpassword" name="rpassword" (value)="_newUser.data['user'].password===undefined? '' : _newUser.data['user'].password" (input)="_newUser.data['user'].password=$event.target.value" type="password" placeholder="password" class="form-control" required>
                  </div>
                  <div class="group-control col-md-6 col-12 mt-4">
                    <label class="langlao mg-name" for="rconfirmpassword">ຢືນຢັນລະຫັດຜ່ານ *</label>
                    <input name="rconfirmpassword" (value)="_newUser.data['user'].confirmpassword===undefined? '' : _newUser.data['user'].confirmpassword" (input)="_newUser.data['user'].confirmpassword=$event.target.value" type="password" placeholder="confirm password" class="form-control" required>
                  </div>
                  <div class="group-control col-12 mt-4 d-flex justify-content-center">
                    <button class="col-md-4 mg-btn col-6 btn btn-primary-form-users langlao" type="submit" (click)='registerNewUser()'>ລົງທະບຽນ</button>
                    <button class="col-md-4 mg-btn col-6 btn btn-danger-form-users langlao" type="reset">ຍົກເລີກ</button>
                  </div>
                </div>
              </section>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-light" (click)="c('Close click')">Close</button>
          </div>
        </ng-template>
        <button class="btn btn-outline-success mb-2 mr-2" (click)="openVerticallyCentered(content)">
          <i class="fas fa-plus-circle mr-1"></i>Add Users</button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-10 offset-md-1 mt-5">
      <table class="table table-bordered table-striped table-responsive">
        <thead class="thead-dark">
          <tr>
            <th class="langlao" scope="col">ຊື່ຕູ້ນ້ຳກ້ອນ</th>
            <th class="langlao" scope="col">ເລກ IMEI</th>
            <th class="langlao" scope="col">ຊື່ຜູ້ໃຊ້</th>
            <th class="langlao" scope="col">ເບີໂທລະສັບ</th>
          </tr>
        </thead>
        <tbody>
          <tr class="bg-list" (click)="Show_update_details(Alert_update_details)">
            <th class="langlao" scope="row">ຕູ້ນ້ຳກ້ອນ A</th>
            <td>201597410398</td>
            <td>User B</td>
            <td class="phone-number">+86620 99999999</td>
            <tr class="bg-list" (click)="Show_update_details(Alert_update_details)">
              <th class="langlao" scope="row">ຕູ້ນ້ຳກ້ອນ A</th>
              <td>201597410398</td>
              <td>User B</td>
              <td>+86620 99999999</td>
            </tr>
            <tr class="bg-list" (click)="Show_update_details(Alert_update_details)">
              <th class="langlao" scope="row">ຕູ້ນ້ຳກ້ອນ A</th>
              <td>201597410398</td>
              <td>User B</td>
              <td class="phone-number">+86620 99999999</td>
              <tr class="bg-list" (click)="Show_update_details(Alert_update_details)">
                <th class="langlao" scope="row">ຕູ້ນ້ຳກ້ອນ A</th>
                <td>201597410398</td>
                <td>User B</td>
                <td>+86620 99999999</td>
              </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="info">
  <ng-template #Alert_update_details let-c="close" let-d="dismiss" id="">
    <div class="modal-header">
      <h4 class="modal-title langlao">ແກ້ໄຂຂໍ້ມູນ</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="">
        <div class="row pb-2">
          <div class="col-12">
            <img src="../../assets/photo/default-user.png" class="img-fluid rounded-circle mx-auto d-block">
          </div>
        </div>
        <div class="d-block justify-content-center">
          <label class="col-md-3 col-xs-3 btn-form-users btn-primary-form-users d-block mx-auto mt-3"> Select photo
            <input type="file" placeholder="file" hidden required>
          </label>
        </div>
        <section id="form-add-users">
          <div class="row col-md-10 offset-md-1 font-color-form-users">
            <div class="group-control col-md-6 col-12 mt-4">
              <label class="langlao mg-name" for="">ຊື່ຕູ້ນ້ຳກ້ອນ *</label>
              <input class="form-control" type="text">
            </div>
            <div class="group-control col-md-6 col-12 mt-4">
              <label class="langlao mg-name" for="">ເລກ IMEI *</label>
              <input class="form-control" type="text">
            </div>
            <div class="group-control col-md-6 col-12 mt-4">
              <label class="langlao mg-name" for="">ຊື່ຜູ້ໃຊ້ *</label>
              <input class="form-control" type="text">
            </div>
            <div class="group-control col-md-6 col-12 mt-4">
              <label class="langlao mg-name" for="">ເບີໂທລະສັບ *</label>
              <input class="form-control" type="text">
            </div>
            <div class="group-control col-12 mt-4">
              <label class="langlao mg-name" for="">ໝາຍເຫດ *</label>
              <input class="form-control" type="text">
            </div>
            <div class="group-control col-12 mt-4 d-flex justify-content-center">
              <button class="col-md-4 mg-btn col-6 btn btn-primary-form-users langlao" type="submit">ອັບເດດ</button>
              <button class="col-md-4 mg-btn col-6 btn btn-danger-form-users langlao" type="reset">ຍົກເລີກ</button>
            </div>
          </div>
        </section>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-light" (click)="c('Close click')">Close</button>
    </div>
  </ng-template>
  <!-- <button class="btn btn-outline-success mb-2 mr-2" (click)="Show_update_details(Alert_update_details)"><i class="fas fa-plus-circle mr-1"></i>info</button>   -->
</div>