<!-- list-product "ລາຍການສຶນຄ້າ" -->

<div class="list-product-bg">
    <div class="mt-3">
        <h3 class="langlao text-center mb-3">
            <u>ຂໍ້ມູນສະເລ່ຍສະແດງລາຍລະອຽດ</u>
        </h3>
        <div class="row">
            <!-- Total -->
            <div class="col-xl-4 col-lg-6 col-md-6 col-12">
                <!-- small box -->
                <div class="small-box bg-total-color">
                    <div class="inner">
                        <h5 class="langlao">ລວມຊົ່ວໂມງເຮັດວຽກ:<small> {{_averageCollection.tt | number:'1.2-2'}} H</small></h5>

                        <h6 class="langlao">ລວມປະລິມານທີ່ຜະລິດໃດ້:<small> {{_averageCollection.ttkg | number:'1.2-2'}} KG</small></h6>
                    </div>
                    <div class="icon">
                        <i class="far fa-clock"></i>
                    </div>
                    <a href="#" class="small-box-footer">TOTAL
                        <!-- <i class="far fa-clock"></i> -->
                    </a>
                </div>
            </div>
            <!-- ./col -->
            <!-- Average -->
            <div class="col-xl-4 col-lg-6 col-md-6 col-12">
                <!-- small box -->
                <div class="small-box bg-average-color">
                    <div class="inner">
                        <h5 class="langlao">ເວລາເຮັດວຽກ:<small> {{_averageCollection.av | number:'1.2-2'}} H ຕໍ່ວັນ</small></h5>

                        <h6 class="langlao">ປະລິມານຜະລິດໃດ້:<small> {{_averageCollection.avkg | number:'1.2-2'}} KG ຕໍ່ວັນ</small></h6>
                    </div>
                    <div class="icon">
                        <i class="fas fa-chart-line"></i>
                    </div>
                    <a href="#" class="small-box-footer">Average
                        <!-- <i class="fa fa-arrow-circle-right"></i> -->
                    </a>
                    <!-- ./col -->
                </div>
            </div>
            <!-- Max KG and Time -->
            <div class="col-xl-4 col-lg-6 col-md-6 col-12">
                <!-- small box -->
                <div class="small-box bg-maxtime-color">
                    <div class="inner">
                        <h5 class="langlao">ເວລາເຮັດວຽກສູງສຸດ:<small> {{_averageCollection.max | number:'1.2-2'}} H ຕໍ່ວັນ</small></h5>

                        <h6 class="langlao"><small>ປະລິມານຜະລິດໃດ້ສູງສຸດ: {{_averageCollection.maxkg | number:'1.2-2'}} KG</small></h6>
                    </div>
                    <div class="icon">
                        <i class="fas fa-sort-amount-up"></i>
                    </div>
                    <a href="#" class="small-box-footer">MAX WORKING AND MAX TIME
                        <!-- <i class="fa fa-arrow-circle-right"></i> -->
                    </a>
                </div>
            </div>
            <!-- ./col -->
            <!-- Min KG -->
            <div class="col-xl-4 col-lg-6 col-md-6 col-12">
                <!-- small box -->
                <div class="small-box bg-mintime-color">
                    <div class="inner">
                        <h5 class="langlao">ເວລາເຮັດວຽກໜ້ອຍສຸດ: <small> {{_averageCollection.min | number:'1.2-2'}} H ຕໍ່ວັນ</small> </h5>

                        <h6 class="langlao"><small>ປະລິມານຜະລິດໃດ້ໜ້ອຍສຸດ: {{_averageCollection.minkg | number:'1.2-2'}} KG</small></h6>
                    </div>
                    <div class="icon">
                        <i class="fas fa-sort-amount-down"></i>
                    </div>
                    <a href="#" class="small-box-footer">MIN
                        <!-- <i class="fas fa-sort-amount-down"></i> -->
                    </a>
                </div>
            </div>
            <!-- ./col -->
            <!-- MaxDay -->
            <div class="col-xl-4 col-lg-6 col-md-6 col-12">
                <!-- small box -->
                <div class="small-box bg-maxday-color">
                    <div class="inner">
                        <h5 class="langlao">ວັນທີ່ເຮັດວຽກຫຼາຍສຸດ: 
                            <ul class="nav">
                                <li class="mr-3 mt-2" *ngFor="let m of _averageCollection.maxtime"><u class="size-of-mindy"><small>{{m}}</small></u> 
                                </li>
                            </ul>
                    </h5>
                       <h6 class="langlao"><small>ລວມປະລິມານທີ່ໃດ້ຮັບ: {{_averageCollection.maxkg | number:'1.2-2'}} KG</small></h6>
                    </div>
                    <div class="icon">
                        <i class="fas fa-long-arrow-alt-up"></i>
                        <i class="fas fa-hourglass"></i>
                    </div>
                    <a href="#" class="small-box-footer">LIST MAX OF DAYS WORKING
                        <!-- <i class="fa fa-arrow-circle-right"></i> -->
                    </a>
                </div>
            </div>
            <!-- ./col -->
            <!-- MinDay -->
            <div class="col-xl-4 col-lg-6 col-md-6 col-12">
                <!-- small box -->
                <div class="small-box bg-minday-color">
                    <div class="inner">
                        <h5 class="langlao">ວັນທີ່ເຮັດວຽກໜ້ອຍສຸດ: 
                            <ul class="nav">
                                <li class="mr-3 mt-2 size-of-mindy" *ngFor="let m of _averageCollection.mintime"><u><small>{{m}}</small></u> 
                                </li>
                            </ul></h5>
                        <h6 class="langlao"><small>ລວມປະລິມານທີ່ໃດ້ຮັບ: {{_averageCollection.minkg | number:'1.2-2'}} KG</small></h6>
                    </div>
                    <div class="icon">
                        <i class="fas fa-long-arrow-alt-down"></i>
                        <i class="far fa-hourglass"></i>
                    </div>
                    <a href="#" class="small-box-footer">LIST MIN OF DAYS WORKING
                        <!-- <i class="fa fa-arrow-circle-right"></i> -->
                    </a>
                </div>
            </div>
            <!-- ./col -->
        </div>
    </div>
    <h3 class="display-6 text-center langlao mt-3">
        <u>ລາຍການສິນຄ້າ</u>
    </h3>
    <!-- list-product "ລາຍການສຶນຄ້າ" -->
    <div class="mt-3">
        <div class="responsive">
            <div class="col-12">
                <form method="POST " action="">
                    <div>
                        <p class="langlao">ຊື່ລູກຄ້າ:{{_currentDevice.name}}</p>
                    </div>

                    <table class="table table-bordered table-responsive ml-6">
                        <thead>
                            <tr>
                                <th class="langlao ct">ໃບບິນ</th>
                                <th class="langlao ct">ລະຫັດ</th>
                                <th class="langlao ct">ຊົ່ວໂມງເຮັດວຽກ</th>
                                <th class="langlao ct">ປະລິມານ</th>
                                <th class="langlao ct">ລາຄາ</th>
                                <th class="langlao ct">ຈຳນວນ</th>
                                <th class="langlao ct">ວັນທີຊຳລະ</th>
                                <th class="langlao ct">ຊຳລະ <br> <input type="checkbox" (change)="selectAll()"/></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let b of productionCollection" [style.background-color]="getColor(b.productiontime.working)" >
                                <th class="langlao ct">{{b.imei}}</th>
                                <th>{{b.sn}}</th>
                                <td>{{b.productiontime.working | number:'1.2-2'}}</td>
                                <td>{{b.effeciency*b.productiontime.working | number:'1.2-2'}}</td>
                                <td>{{b.rate}}</td>
                                <td>{{b.totalvalue | number:'1.2-2'}}</td>
                                <td>
                                    {{b.paidtime | date:'dd-MM-yyyy'}}
                                </td>
                                <td>
                                    <input type="checkbox" [checked]="b.isinvoice" [disabled]="b.isdone" (change)="b.isinvoice = !b.isinvoice" >
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </form>
            </div>
        </div>
    </div>
</div>

<button class="col-6 btn d-block mx-auto btn-primary langlao mt-3 mb-3" (click)="gotopay()">ຊຳລະ</button>

<hr>

<button class="btn btn-sm mx-auto d-block btn-outline-success mb-3 langlao"  (click)="acc.toggle('toggle-1')">ສະແດງລາຍລະອຽດສິນຄ້າ</button>
<ngb-accordion #acc="ngbAccordion">
    <ngb-panel id="toggle-1" title="Show information">
        <ng-template ngbPanelContent>
            <div class="row bg-detail-product">
                <h2 class="col-12 display-6 langlao text-center">
                    <u>ລາຍລະອຽດສິນຄ້າ</u>
                </h2>
                <div class="col-xl-6 xol-lg-6 col-12">
                    <div class="input-group mt-3">
                        <label class="col-5" for="">IMEI:</label>
                        <input class="col-7 form-control text-center" type="text" placeholder="025468181259" disabled>
                    </div>

                    <div class="input-group mt-3">
                        <label class="col-5 langlao" for="">ຊື່ຕູ້ນ້ຳກ້ອນ:</label>
                        <input class="col-7 form-control text-center langlao" type="text" placeholder="ຕູ້ນ້ຳກ້ອນ A" disabled>
                    </div>

                    <div class="input-group mt-3">
                        <label class="col-5 langlao" for="">ຊົ່ວໂມງເຮັດວຽກ:</label>
                        <input class="col-7 form-control text-center langlao" type="text" placeholder="14h" disabled>
                    </div>

                    <div class="input-group mt-3">
                        <label class="col-5 langlao" for="">ຈຳນວນເວລາທັງໝົດ:</label>
                        <input class="col-7 form-control text-center langlao" type="text" placeholder="218h" disabled>
                    </div>

                    <div class="input-group mt-3">
                        <label class="col-5 langlao" for="">ມື້ຕິດຕັ້ງ:</label>
                        <input class="col-7 form-control text-center langlao" type="text" placeholder="01.01.2011" disabled>
                    </div>

                    <div class="input-group mt-3">
                        <label class="col-5 langlao" for="">ຜູ້ໃຊ້:</label>
                        <input class="col-7 form-control text-center langlao" type="text" placeholder="Mr.ABC" disabled>
                    </div>
                </div>

                <div class="col-xl-6 xol-lg-6 col-12">
                    <img class="img-fluid responsive" src="../../assets/photo/machine1.png" alt="Responsive image">
                </div>
            </div>
        </ng-template>
    </ngb-panel>
</ngb-accordion>