.list-product-bg {
  padding: 10px; 
   /* background: rgb(223, 221, 221) !important; */
}
.card {
  background: #33e02309 !important;
  border:1px solid #11cc0060;
  box-shadow: 0 0 0 .3rem rgba(140, 243, 56, 0.116);
  border: none !important;
  padding: 30px;
}
.table {
  /* background: rgb(223, 221, 221) !important; */
  border: none !important;
}
tr,th,td {
  text-align: center !important;
  width: 10%;
}
.form-control {
  background-color: white !important;
}

.col-3 {
  border: none !important;
  background: rgba(235, 236, 236, 0.609) !important;
}
.bg-detail-product {
  background: #33e02309 !important;
  border:1px solid #11cc0060;
  box-shadow: 0 0 0 .3rem rgba(140, 243, 56, 0.116);
  padding: 30px;
}

.form-control {
  border: none !important;
  background: rgba(235, 236, 236, 0.609) !important;
}

.card-body{
  padding:30px;
}

.size-of-minday{
  width: 130px !important;
}

/* ....////  start css box here .... */

.small-box {
  border-radius: 0.25rem;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.125), 0 1px 3px rgba(0, 0, 0, 0.2);
  position: relative;
  display: block;
  margin-bottom: 20px;
}

.small-box > .inner {
  padding: 10px;
}

.small-box > .small-box-footer {
  position: relative;
  text-align: center;
  padding: 3px 0;
  color: #ffffff5e;
  color: rgba(255, 255, 255, 0.486);
  display: block;
  z-index: 10;
  background: rgba(0, 0, 0, 0.1);
  text-decoration: none;
}

.small-box > .small-box-footer:hover {
  color: #ffffff;
  background: rgba(0, 0, 0, 0.15);
}

.small-box h5 {
  font-size: 12pt;
  font-weight: bold;
  margin: 0 0 10px 0;
  white-space: nowrap;
  padding: 0;
}

.small-box p {
  font-size: 15px;
}

.small-box p > small {
  display: block;
  color: #f9f9f9;
  font-size: 13px;
  margin-top: 5px;
}

.small-box h5, .small-box p {
  z-index: 5;
}

.small-box .icon {
  transition: all 0.3s linear;
  position: absolute;
  top: -10px;
  right: 10px;
  z-index: 0;
  font-size: 90px;
  color: rgba(0, 0, 0, 0.15);
}

.small-box:hover {
  text-decoration: none;
}

.small-box:hover .icon {
  font-size: 95px;
}
.bg-total-color{
  background: #04b42144 !important;
}
.bg-average-color{
background: rgba(3, 169, 244, 0.2);
}
.bg-maxtime-color{
  background: #f7c0c8;
}
.bg-mintime-color{
  background: #ccd2d3;
}
.bg-maxday-color{
  background: rgba(230, 230, 181, 0.863);
}
.bg-minday-color{
  background: rgba(241, 202, 202, 0.418);
}

@media (max-width: 901px) {
  .small-box {
    text-align: left;
  }
  .small-box .icon {
    display: none;
  }
  .small-box p {
    font-size: 12px;
  }
}

.bg-success, .alert-success, .label-success {
  background-color: #28a745 !important;
}
a.bg-success:hover, a.alert-success:hover, a.label-success:hover, a.bg-success:focus, a.alert-success:focus, a.label-success:focus,
button.bg-success:hover,
button.alert-success:hover,
button.label-success:hover,
button.bg-success:focus,
button.alert-success:focus,
button.label-success:focus {
  background-color: #1e7e34 !important;
}

/* end css box here */