<div class="container">
    <div class="row">
        <div class="col-xl-6 offset-xl-3 col-lg-6 offset-lg-3 col-md-8 offset-md-2 col-sm-12 border-register" style="width:100%;">
            <h3 class="text-center display-7 mb-4">Pay Cheap <i class="fas fa-leaf" id="register-color-icon"></i></h3>
            <h1 class=" langlao display-5 text-center mb-3">ລືມລະຫັດຜ່ານ</h1>
            <form action="">
                <label class="ml-4 mt-3 langlao smoke-font-color" for="phonenumber">ເບີໂທລະສັບ*</label>
                <input name="phone" placeholder="ກະລຸນາໃສ່ເບີໂທຂອງທ່ານ" class="form-control input-md langlao" required>

                <label class="ml-4 mt-3 langlao smoke-font-color" for="forgotkeys">ປ້ອນລະຫັດຜ່ານທີ່ທ່ານໃດ້ຮັບ*</label>
                <input name="forgotkeys" type="text" placeholder="forgot keys" class="form-control input-md"
                    required>
                <button class="btn btn-outline-secondary mt-3 langlao" >ຂໍລະຫັດ</button>
                <button type="submit" class="btn  main-bg-color langlao mt-4 " style="width:100%" (click)="resetPassword()">ປ່ຽນລະຫັດ</button>
                <br><br>
                <h5 class="text-center langlao display-6">----- ຍັງບໍ່ມີບັນຊີແມ່ນບໍ່? -----</h5>
                <button class="btn btn-outline-success main-bg-color langlao" style="width:100%" [routerLink]="['/register']">ລົງທະບຽນ</button>
            </form>
        </div>
    </div>
</div>
