.radius-show {
  border-left: none !important;
  border-bottom: none;
  border-right: none;
  border-radius: 0px 20px 20px 0px;
}

mark {
  background: linear-gradient(
    to right,
    rgb(230, 26, 196),
    rgb(185, 8, 185)
  ) !important;
}
