/* You can add global styles to this file, and also import other style files */
/* body{
  background: rgba(230, 226, 226, 0.877);
} */
body{
  background: rgb(248, 242, 242) !important;
  
}
.bg-main-color{
  background: #aff587 !important;
}
.bg-main-color:hover{
  transition: 0.3s;
  background: #7ec256 !important;
}

.bg-gray-color{
  background: rgb(223, 221, 221) !important;
}
.display-5 {
    font-size: 2.5rem;
    font-weight: 300;
    line-height: 1.2;
  }
  .display-6 {
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 1.2;
  }
  

.nav-link{
    color:rgb(53, 51, 51) !important;
}
.nav-link:hover{
    color:#aab1a7 !important;
    transition: 0.5s;
    font-size: 13pt;
}
a{
  cursor: pointer;
}
.main-font-color{
  color:#424242 !important;
}

.font-link{
  color:#90a4ae !important;
}
.font-link:hover{
  color:#455a64 !important;
  transition: 0.5s;
}
